<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="parkingos.com.bolink.dao.mybatis.mapper.BolinkDataMapper" >
    <!--查询交易记录-->
    <select id="getTransactions" resultType="map">
        SELECT
            TYPE,
            to_char(
                to_timestamp(pay_time),
                'yyyy-MM-dd'
            ) p_time,
            SUM (pay_money) pay_money
        FROM
            ${table_name}
        WHERE
            park_id = #{comid,jdbcType=BIGINT}
        AND pay_time BETWEEN #{b_time,jdbcType=BIGINT}
        AND #{e_time,jdbcType=BIGINT}
        GROUP BY
            p_time,
            TYPE
        ORDER BY
            p_time
    </select>

    <!--查询所有收费员记录-->
    <select id="getTransactionsByAllUid" resultType="map">
        <![CDATA[
        SELECT
        SUM (pay_money) pay_money,
        collector,
        type
        FROM
        ${table_name}
        WHERE
        collector  <> 10000000
        AND pay_time BETWEEN #{b_time,jdbcType=BIGINT}
        AND #{e_time,jdbcType=BIGINT}
        and park_id = #{comid,jdbcType=BIGINT}
        GROUP BY
        collector,
        TYPE
        ]]>
    </select>


    <!--查询某个收费员记录-->
    <select id="getTransactionsByUid" resultType="map">
        SELECT
            SUM (pay_money) pay_money,
            collector,
            TYPE
        FROM
            ${table_name}
        WHERE
            collector = #{userId,jdbcType=BIGINT}
        AND pay_time BETWEEN #{b_time,jdbcType=BIGINT}
        AND #{e_time,jdbcType=BIGINT}
        and park_id = #{comid,jdbcType=BIGINT}
        GROUP BY
            collector,
            TYPE
    </select>


    <!--查询某个订单的预付金额-->
    <select id="getOrderMoneys" resultType="map">
        SELECT
        sum(pay_money) pay_money,
        type
        FROM
        ${table_name}
        WHERE
        park_id = #{comid,jdbcType=BIGINT}
        AND
        order_id = #{orderId,jdbcType=VARCHAR}
        AND
        car_number = #{carNumber,jdbcType=VARCHAR}
        GROUP BY
        TYPE
    </select>


    <!--查询交易记录-->
    <select id="getMonthTransactionsByComid" resultType="map">
        SELECT
        TYPE,
        to_char(
        to_timestamp(pay_time),
        'yyyy-MM'
        ) sdate,
        SUM (pay_money) pay_money
        FROM
        ${table_name}
        WHERE
        park_id = #{comid,jdbcType=BIGINT}
        AND pay_time BETWEEN #{b_time,jdbcType=BIGINT}
        AND #{e_time,jdbcType=BIGINT}
        GROUP BY
        sdate,
        TYPE
        ORDER BY
        sdate
    </select>


    <!--查询交易记录-->
    <select id="getMonthOutTransactionsByComid" resultType="map">
        SELECT
        to_char(
        to_timestamp(pay_time),
        'yyyy-MM'
        ) sdate,
        SUM (pay_money) pay_money
        FROM
        ${table_name}
        WHERE
        park_id = #{comid,jdbcType=BIGINT}
        AND pay_time BETWEEN #{b_time,jdbcType=BIGINT}
        AND #{e_time,jdbcType=BIGINT}
        GROUP BY
        sdate
        ORDER BY
        sdate
    </select>


    <select id="getTransactionsByComid" resultType="map">
        SELECT
        TYPE,
        park_id as comid,
        SUM (pay_money) pay_money
        FROM
        ${table_name}
        WHERE
        park_id = #{comid,jdbcType=BIGINT}
        AND pay_time BETWEEN #{b_time,jdbcType=BIGINT}
        AND #{e_time,jdbcType=BIGINT}
        GROUP BY
        comid,
        TYPE
    </select>

    <select id="getTransactionsByGroupId" resultType="map">
        SELECT
        TYPE,
        park_id as comid,
        SUM (pay_money) pay_money
        FROM
        ${table_name}
        WHERE
         park_id in (SELECT  id from com_info_tb where groupid = #{groupId,jdbcType=BIGINT})
        AND pay_time BETWEEN #{b_time,jdbcType=BIGINT}
        AND #{e_time,jdbcType=BIGINT}
        GROUP BY
        comid,
        TYPE
    </select>


    <select id="getOutTransactionsByComid" resultType="map">
        SELECT
        SUM (pay_money) pay_money,
        park_id as comid
        FROM
        ${table_name}
        WHERE
        park_id = #{comid,jdbcType=BIGINT}
        AND pay_time BETWEEN #{b_time,jdbcType=BIGINT}
        AND #{e_time,jdbcType=BIGINT}
        GROUP BY
        comid
    </select>

    <select id="getOutTransactionsByGroupId" resultType="map">
        SELECT
        SUM (pay_money) pay_money,
        park_id as comid
        FROM
        ${table_name}
        WHERE
         park_id in (SELECT  id from com_info_tb where groupid = #{groupId,jdbcType=BIGINT})
        AND pay_time BETWEEN #{b_time,jdbcType=BIGINT}
        AND #{e_time,jdbcType=BIGINT}
        GROUP BY
        comid
    </select>


    <select id="getDailyTransactionsByGroupId" resultType="map">
        SELECT
        TYPE,
        to_char(
        to_timestamp(pay_time),
        'yyyy-MM-dd'
        ) as time,
        SUM (pay_money) pay_money
        FROM
        ${table_name}
        WHERE
        park_id in (SELECT  id from com_info_tb where groupid = #{groupId,jdbcType=BIGINT})
        AND pay_time BETWEEN #{b_time,jdbcType=BIGINT}
        AND #{e_time,jdbcType=BIGINT}
        GROUP BY
        time,
        TYPE
        ORDER BY
        time
    </select>


    <select id="getDailyOutTransactionsByGroupId" resultType="map">
        SELECT
        to_char(
        to_timestamp(pay_time),
        'yyyy-MM-dd'
        ) as time,
        SUM (pay_money) pay_money
        FROM
        ${table_name}
        WHERE
        park_id in (SELECT  id from com_info_tb where groupid = #{groupId,jdbcType=BIGINT})
        AND pay_time BETWEEN #{b_time,jdbcType=BIGINT}
        AND #{e_time,jdbcType=BIGINT}
        GROUP BY
        time
        ORDER BY
        time
    </select>


    <select id="getMonthTransactionsByGroupId" resultType="map">
        SELECT
        type,
        to_char(
        to_timestamp(pay_time),
        'yyyy-MM'
        ) as time,
        SUM (pay_money) pay_money
        FROM
        ${table_name}
        WHERE
         park_id in (SELECT  id from com_info_tb where groupid = #{groupId,jdbcType=BIGINT})
        AND pay_time BETWEEN #{b_time,jdbcType=BIGINT}
        AND #{e_time,jdbcType=BIGINT}
        GROUP BY
        time,
        type
        ORDER BY
        time
    </select>


    <select id="getMonthOutTransactionsByGroupId" resultType="map">
        SELECT
        to_char(
        to_timestamp(pay_time),
        'yyyy-MM'
        ) as time,
        SUM (pay_money) pay_money
        FROM
        ${table_name}
        WHERE
         park_id in (SELECT  id from com_info_tb where groupid = #{groupId,jdbcType=BIGINT})
        AND pay_time BETWEEN #{b_time,jdbcType=BIGINT}
        AND #{e_time,jdbcType=BIGINT}
        GROUP BY
        time
        ORDER BY
        time
    </select>




    <select id="getParkDaylyStaticAnls" resultType="map">
        SELECT
    SUM (ele_prepay+ele_pay+monthcard_pay+other_pay) ele_total,
    SUM (cash_pay+cash_prepay) cash_total,
    SUM (fee+refund+recharge) out_total,
	SUM (cash_pay) cash_pay,
	SUM (cash_prepay) cash_prepay,
	SUM (ele_prepay) ele_prepay,
	SUM (ele_pay) ele_pay,
	SUM (monthcard_pay) monthcard_pay,
	SUM (other_pay) other_pay,
	SUM (fee) fee,
	SUM (refund) refund,
	SUM (recharge) recharge,
	SUM (reduce) reduce,
	pay_time_day_str
FROM
	static_analysis_tb
WHERE
	pay_time BETWEEN #{b_time,jdbcType=BIGINT}
AND #{e_time,jdbcType=BIGINT}
AND park_id = #{comid,jdbcType=BIGINT}
GROUP BY
	pay_time_day_str
	ORDER BY  pay_time_day_str
    </select>




    <select id="getParkMonthlyStaticAnls" resultType="map">
        SELECT
	SUM (cash_pay+cash_prepay+ele_pay+ele_prepay+monthcard_pay+other_pay) act_total,
	SUM (cash_pay+cash_prepay) cash_pay,
	SUM (ele_pay+ele_prepay+monthcard_pay+other_pay) ele_pay ,
	SUM (refund+fee+recharge) out_total ,
	SUM (reduce) reduce,
	pay_time_month_str
FROM
	static_analysis_tb
WHERE
	pay_time BETWEEN #{b_time,jdbcType=BIGINT}
AND #{e_time,jdbcType=BIGINT}
AND park_id = #{comid,jdbcType=BIGINT}
GROUP BY
	pay_time_month_str
	ORDER BY  pay_time_month_str
    </select>



    <select id="getGroupParksAnly" resultType="map">
     SELECT
	SUM (cash_pay+cash_prepay+ele_pay+ele_prepay+monthcard_pay+other_pay) act_total,
	SUM (cash_pay+cash_prepay) cash_pay,
	SUM (ele_pay+ele_prepay+monthcard_pay+other_pay) ele_pay ,
	SUM (refund+fee+recharge) out_total ,
	SUM (ele_pay+ele_prepay+monthcard_pay+other_pay-refund-fee-recharge) ele_total ,
	SUM (reduce) reduce,
	pay_time_day_str,
	park_id
FROM
	static_analysis_tb
WHERE
	pay_time BETWEEN #{b_time,jdbcType=BIGINT}
AND #{e_time,jdbcType=BIGINT}
    <if test="comid > 0" >
        AND park_id = #{comid,jdbcType=BIGINT}
    </if>

and group_id = #{groupid,jdbcType=BIGINT}
GROUP BY
	pay_time_day_str,park_id
        ORDER BY  pay_time_day_str
    </select>


    <select id="getGroupDaylyAnly" resultType="map">
       SELECT
	SUM (cash_pay+cash_prepay+ele_pay+ele_prepay+monthcard_pay+other_pay) act_total,
	SUM (cash_pay+cash_prepay) cash_pay,
	SUM (ele_pay+ele_prepay+monthcard_pay+other_pay) ele_pay ,
	SUM (refund+fee+recharge) out_total ,
	SUM (ele_pay+ele_prepay+monthcard_pay+other_pay-refund-fee-recharge) ele_total ,
	SUM (reduce) reduce,
	pay_time_day_str
FROM
	static_analysis_tb
WHERE
	pay_time BETWEEN #{b_time,jdbcType=BIGINT}
AND #{e_time,jdbcType=BIGINT}
and group_id =#{groupid,jdbcType=BIGINT}
GROUP BY
	pay_time_day_str
	ORDER BY  pay_time_day_str
    </select>


    <select id="getGroupMonthLyAnly" resultType="map">
        SELECT
        SUM (cash_pay+cash_prepay+ele_pay+ele_prepay+monthcard_pay+other_pay) act_total,
        SUM (cash_pay+cash_prepay) cash_pay,
        SUM (ele_pay+ele_prepay+monthcard_pay+other_pay) ele_pay ,
        SUM (refund+fee+recharge) out_total ,
        SUM (ele_pay+ele_prepay+monthcard_pay+other_pay-refund-fee-recharge) ele_total ,
        SUM (reduce) reduce,
        pay_time_month_str
        FROM
        static_analysis_tb
        WHERE
        pay_time BETWEEN #{b_time,jdbcType=BIGINT}
        AND #{e_time,jdbcType=BIGINT}
        and group_id =#{groupid,jdbcType=BIGINT}
        GROUP BY
        pay_time_month_str
        ORDER BY  pay_time_month_str
    </select>



    <select id="getParkCollectorAnly" resultType="map">
        SELECT
        SUM (cash_pay) cash_pay,
        SUM (cash_prepay) cash_prepay,
        SUM (cash_pay+cash_prepay) cash_total,
        SUM (reduce) reduce,
        pay_time_day_str,
        out_uid
        FROM
        static_analysis_collector_tb
        WHERE
        pay_time BETWEEN #{b_time,jdbcType=BIGINT}
        AND #{e_time,jdbcType=BIGINT}
        <if test="outUid > 0" >
            AND out_uid = #{outUid,jdbcType=BIGINT}
        </if>

        and park_id = #{comid,jdbcType=BIGINT}
        GROUP BY
        out_uid,pay_time_day_str

    </select>


</mapper>