<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="parkingos.com.bolink.dao.mybatis.mapper.ParkInfoMapper" >
    <!--获取入场车辆-->
    <select id="getEntryCar"  resultType="map">
        <![CDATA[
    select
    a.car_number AS "cartId",
    a.create_time AS "timemills",
    b.company_name AS "parkName"
    from order_tb a,
    com_info_tb b
    where a.comid = b.id
    and a.create_time > #{create_time,jdbcType=BIGINT}
    and a.groupid= #{groupid,jdbcType=BIGINT}
    and a.state = 0
    ORDER BY a.create_time DESC
    limit  10
    ]]>
    </select>
    <!--获取出场车辆数据-->
    <select id="getExitCar"  resultType="map">
        <![CDATA[
        select
    a.car_number AS "cartId",
    a.end_time AS "timemills",
    b.company_name AS "parkName"
    from order_tb a,
    com_info_tb b
    where a.comid = b.id
        and a.end_time > #{create_time,jdbcType=BIGINT}
        and a.groupid= #{groupid,jdbcType=BIGINT}
        and a.state in(1,2)
        ORDER BY a.end_time DESC
        limit  10
        ]]>
    </select>
    <!--获取车场收费排行-->
    <select id="getParkRank"  resultType="map">
    select COALESCE(sum(a.cash_pay+a.electronic_pay+a.cash_prepay+a.electronic_prepay),0) AS "total" ,
    b.company_name AS "parkName"
    from order_tb a ,com_info_tb b
    where a.comid=b.id
     and a.end_time > #{end_time,jdbcType=BIGINT}
     and a.groupid= #{groupid,jdbcType=BIGINT}
     and total >0
     GROUP BY a.comid, b.company_name
      ORDER BY  total desc
      limit 5
    </select>
   <!--获取总的车位-->
    <select id="getBerthTotal" parameterType="int" resultType="java.lang.Integer">
        select COALESCE(sum(a.parking_total),0) AS "parkingtotal"
        from com_info_tb a
        where a.groupid = #{groupid,jdbcType=BIGINT}
    </select>
   <!--获取今日电子收费-->
    <select id="getElectronicPay"  resultType="java.lang.Double">
        select COALESCE(sum(a.electronic_pay),0 )AS "electronic_pay"
        from order_tb a
        where a.end_time > #{create_time,jdbcType=BIGINT}
        and a.groupid= #{groupid,jdbcType=BIGINT}
    </select>
    <!--获取今日现金收费-->
    <select id="getCashPay"  resultType="java.lang.Double">
        select COALESCE(sum(a.cash_pay),0) cash_pay
        from order_tb a
        where a.end_time > #{create_time,jdbcType=BIGINT}
        and a.groupid= #{groupid,jdbcType=BIGINT}
    </select>
    <!--获取今日减免-->
    <select id="getReduceAmount"  resultType="java.lang.Double">
        select COALESCE(sum(a.reduce_amount),0) reduce_amount
        from order_tb a
        where a.end_time > #{create_time,jdbcType=BIGINT}
        and a.groupid= #{groupid,jdbcType=BIGINT}
    </select>
    <select id="getFreeAmount"  resultType="java.lang.Double">
        select COALESCE(sum(a.amount_receivable-a.electronic_prepay-a.cash_prepay-a.reduce_amount),0) free_amount
        from order_tb a
        where a.end_time > #{create_time,jdbcType=BIGINT}
        and a.pay_type = 8
        and a.groupid= #{groupid,jdbcType=BIGINT}
    </select>
    <!--获取今日进场总数-->
    <select id="getEntryCount"  resultType="java.lang.Integer">
        select count(id) inCars
        from order_tb a
        where a.create_time > #{create_time,jdbcType=BIGINT}
        and a.groupid= #{groupid,jdbcType=BIGINT}
    </select>
    <!--获取今日离场总数-->
    <select id="getExitCount"  resultType="java.lang.Integer">
        select count(id) outCars
        from order_tb a
        where a.end_time > #{end_time,jdbcType=BIGINT}
        and a.groupid= #{groupid,jdbcType=BIGINT}
    </select>
    <!--获取今日在场总数-->
    <select id="getInparkCount"  resultType="java.lang.Integer">
        select count(id) inPark
        from order_tb a
        where a.create_time > #{create_time,jdbcType=BIGINT}
        and end_time is null
        and a.groupid= #{groupid,jdbcType=BIGINT}
    </select>
    <!--获取集团下所有车场的id-->
    <select id="getParkIdByGroupId"  resultType="map">
        select a.id parkid,
        a.company_name AS "parkName"
        from com_info_tb a
        where
        a.groupid= #{groupid,jdbcType=BIGINT}
    </select>
    <!--根据车场id查询登录信息-->
    <select id="getParkLogin"  resultType="map">
        select a.login_time logintime,
        a.beat_time beattime,
        a.local_id AS "localid"
        from park_token_tb a
        where
        a.park_id= #{parkid,jdbcType=VARCHAR}
        order by a.login_time desc

    </select>
    <!--根据grouid查询抬杆异常信息-->
    <select id="getExpByGid"  resultType="map">
select
a.uin uin,
a.out_channel_id passid,
a.resume reason,
a.ctime ctime
from lift_rod_tb a
left join com_info_tb b ON
a.comid = b.id where b.groupid= #{groupid,jdbcType=BIGINT}
and a.ctime>#{ctime,jdbcType=BIGINT}
 ORDER BY a.ctime desc;
    </select>
    <!--=============================================================-->
    <!--获取入场车辆-->
    <select id="getEntryCarByComid"  resultType="map">
        <![CDATA[
    select
    a.car_number AS "cartId",
    a.create_time AS "timemills",
    a.in_passid AS "parkName"
    from order_tb a
    where
    a.create_time > #{create_time,jdbcType=BIGINT}
    and a.comid= #{comid,jdbcType=BIGINT}
    and a.state = 0
    ORDER BY a.create_time DESC
    limit  10
    ]]>
    </select>
    <!--获取出场车辆数据-->
    <select id="getExitCarByComid"  resultType="map">
        <![CDATA[
        select
    a.car_number AS "cartId",
    a.end_time AS "timemills",
    a.out_passid AS "parkName"
    from order_tb a
    where
        a.end_time > #{create_time,jdbcType=BIGINT}
        and a.comid = #{comid,jdbcType=BIGINT}
        and a.state in(1,2)
        ORDER BY a.end_time DESC
        limit  10
        ]]>
    </select>

    <!--获取岗亭收费排行-->
    <select id="getRankByout"  resultType="map">
        <![CDATA[
        select
    COALESCE(sum(a.cash_pay+a.electronic_pay+a.cash_prepay+a.electronic_prepay),0) AS "total",
    a.out_uid uid
    from order_tb a
    where
    a.comid = #{comid,jdbcType=BIGINT}
    and  a.end_time > #{end_time,jdbcType=BIGINT}
    and total >0
    and uid <> -1
    group by a.out_uid
    ORDER BY total desc
    limit  5
        ]]>
    </select>

    <!--获取今日电子收费-->
    <select id="getElectronicPaybc"  resultType="java.lang.Double">
        select COALESCE(sum(a.electronic_pay),0 )AS "electronic_pay"
        from order_tb a
        where a.end_time > #{create_time,jdbcType=BIGINT}
        and a.comid= #{comid,jdbcType=BIGINT}
    </select>
    <!--获取今日现金收费-->
    <select id="getCashPaybc"  resultType="java.lang.Double">
        select COALESCE(sum(a.cash_pay),0) cash_pay
        from order_tb a
        where a.end_time > #{create_time,jdbcType=BIGINT}
        and a.comid= #{comid,jdbcType=BIGINT}
    </select>
    <!--获取今日减免-->
    <select id="getReduceAmountbc"  resultType="java.lang.Double">
        select COALESCE(sum(a.reduce_amount),0) reduce_amount
        from order_tb a
        where a.end_time > #{create_time,jdbcType=BIGINT}
        and a.comid= #{comid,jdbcType=BIGINT}
  </select>
    <select id="getFreeAmountbc"  resultType="java.lang.Double">
        select COALESCE(sum(a.amount_receivable-a.electronic_prepay-a.cash_prepay-a.reduce_amount),0) free_amount
        from order_tb a
        where a.end_time > #{create_time,jdbcType=BIGINT}
        and a.pay_type = 8
        and a.comid= #{comid,jdbcType=BIGINT}
    </select>

    <!--获取今日进场总数-->
    <select id="getEntryCountbc"  resultType="java.lang.Integer">
        select count(id) inCars
        from order_tb a
        where a.create_time > #{create_time,jdbcType=BIGINT}
       and a.comid= #{comid,jdbcType=BIGINT}
    </select>
    <!--获取今日离场总数-->
    <select id="getExitCountbc"  resultType="java.lang.Integer">
        select count(id) outCars
        from order_tb a
        where a.end_time > #{end_time,jdbcType=BIGINT}
        and a.comid= #{comid,jdbcType=BIGINT}
    </select>
    <!--获取今日在场总数-->
    <select id="getInparkCountbc"  resultType="java.lang.Integer">
        select count(id) inPark
        from order_tb a
        where a.create_time > #{create_time,jdbcType=BIGINT}
        and state =0
        and a.comid= #{comid,jdbcType=BIGINT}
    </select>

    <!--获取总的车位-->
    <select id="getBerthTotalbc" parameterType="int" resultType="java.lang.Integer">
        select COALESCE(sum(a.parking_total),0) AS "parkingtotal"
        from com_info_tb a
        where a.id= #{comid,jdbcType=BIGINT}
    </select>
    <!--根据comid查询抬杆异常信息-->
    <select id="getExpByCid"  resultType="map">
        select
        a.uin uin,
        a.out_channel_id passid,
        a.resume reason,
        a.ctime ctime
        from lift_rod_tb a
       where a.comid= #{comid,jdbcType=BIGINT}
       and a.ctime>#{ctime,jdbcType=BIGINT}
        ORDER BY a.ctime desc;
    </select>
    <!--根据id查询用户信息-->
    <select id="getUserInfo"  resultType="java.lang.String">
        select
        a.nickname nickname
        from user_info_tb a
        where a.id= #{id,jdbcType=BIGINT}
        limit 1
    </select>
    <!--获取泊位率根据comid-->
    <select id="getBerthPercent"  resultType="map">
       select sum(share_count) asum,
       sum(used_count) usum,
       create_time
      from park_anlysis_tb
      where comid in
        <foreach collection="comidlist" index="index" item="item" open="(" separator="," close=")">
            #{item.parkid}
        </foreach>
        and create_time>=#{create_time,jdbcType=BIGINT}
      group by create_time
      order by create_time asc;
    </select>
</mapper>